# Build / Debugger Files
*.adb
*.asm
*.cdb
*.ihx
*.lst
*.map
*.o
*.sym

# Local project Intellisense settings
.vscode/c_cpp_properties.json

# ignore run.bat with local file path to Emulicious
run.bat